.box {
  min-height: 3rem;
  min-width: 3rem;
  background: blue;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem;
}

.shapeRound {
  border-radius: 0.5rem;
}


.shaderSolid {
  
}

.shaderGradient {
  
}

.shaderCorners {
  
}

.shaderComicShadow {
  
}

.palette1 {
  
}

.palette2 {
  
}